*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh; /* better than fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 199, 142);
}

.clock{
    width: clamp(250px, 80vw, 400px); /* responsive size */
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: clamp(10px, 3vw, 20px);
    border: 5px solid white;
    background: linear-gradient(rgb(18, 125, 102), lightgreen);
    color: white;
    font-size: clamp(20px, 5vw, 50px);
    font-weight: bold;
    box-shadow: 0px 0px 25px rgba(255, 254, 254, 0.489);
}

.clock p{
    font-size: clamp(40px, 10vw, 100px); /* responsive text */
    margin: 0 clamp(5px, 2vw, 10px);
    background-color: #ffffff4b;
    padding: 5px 10px;
    border-radius: 10px;
}